body {
    margin: 5;
    padding: 5;
    font-family: Poppins
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section {
    text-align: center;
    padding: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.cajadeimagen  {
    width: calc(25% - 10px); /* Cuatro cajas por fila, ajusta el espacio entre ellas */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen horizontalmente */
    justify-content: center; /* Centra la imagen verticalmente */
}
.galeria img {
    width: 100%;
    border: 2px solid #f2f2f2; /* Añade un borde a la imagen */
    border-radius: 8px; /* Opcional: bordes redondeados / max-width: 100%; / Máxima anchura es el 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    display: block;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.galeria p {
    text-align: center;
    margin-top: 5px;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    height: 5em; /* Altura basada en el tamaño de línea */
    line-height: 1em; /* Ajusta esta línea según el diseño */
  
}
/* Responsividad */
@media (max-width: 600px) {
    .galeria .cajadeimagen{
        width: calc(50% - 10px); /* Dos cajas por fila en pantallas pequeñas */
    }
}

@media (max-width: 400px) {
    .galeria .cajadeimagen {
        width: 100%; /* Una sola caja por fila en pantallas muy pequeñas */
    }
}
/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Ubicación desde la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita el scroll si es necesario */
    background-color: rgb(0,0,0); /* Fondo negro */
    background-color: rgba(0,0,0,0.9); /* Negro con opacidad */
}

.modal-contenido {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; /* Máximo ancho de la imagen */
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}