/* Agrega esta clase para los botones del navbar */
.nav-button {
    text-decoration: none;
    color: #df60af;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #f4f1f3;
    border-radius: 5px;
}